body {
    color: black;
}
header {
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 150;
}
section {
    color: aliceblue;
}
.ga{
    
}